# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

# IDE & temporary scratch files
.vscode
*.py
build_error*.txt
builder_*.txt
build_out.txt
*.json.rej
*.rej
*.log
modrinth_versions.json
versions.json
.kotlin